.App {
  text-align: center;
}

.user-form {
  width: 20%;
  margin: 0 auto;
  float: none;
}

.post {
  width: 180px;
  height: 180px;
  line-height: 0;
}

div.post:hover button {
  display: block;
}

div.post button {
  top: 0;
  right: 0;
  position: absolute;
  display: none;
}

.navbar-fixed-bottom {
  /*position: absolute;*/
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  line-height: 40px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
